include cutlass/__init__.py
include cutlass/iHMPSession.py
include cutlass/Base.py
include cutlass/Project.py
include cutlass/Study.py
include cutlass/Visit.py
include cutlass/Subject.py
include cutlass/Sample.py
include cutlass/SixteenSDnaPrep.py
include cutlass/SixteenSRawSeqSet.py
include cutlass/SixteenSTrimmedSeqSet.py
include cutlass/WgsDnaPrep.py
include cutlass/WgsRawSeqSet.py
include cutlass/mimarks.py
include cutlass/mims.py
include cutlass/mixs.py
include cutlass/aspera/__init__.py
include cutlass/aspera/aspera.py
recursive-include tests *.py
include tests/__init__.py
include setup.py
include README.md
