include cutlass/__init__.py
include cutlass/iHMPSession.py
include cutlass/Base.py
include cutlass/Project.py
include cutlass/Study.py
include cutlass/Visit.py
include cutlass/Subject.py
include cutlass/Sample.py
include cutlass/SixteenSDnaPrep.py
include cutlass/SixteenSRawSeqSet.py
include cutlass/SixteenSTrimmedSeqSet.py
include cutlass/mimarks.py
include cutlass/mims.py
include cutlass/mixs.py
include cutlass/aspera/__init__.py
include cutlass/aspera/aspera.py
include cutlass/aspera/round_trip_test.py
include tests/test_aspera.py
include tests/test_project.py
include tests/test_import.py
include tests/test_import_all.py
include setup.py
include README.md
